@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body{
    margin:0;
    padding:0;
    font-family: 'Poppins','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(../img/login-background.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
	z-index: 1;
	flex-wrap: wrap;
    justify-content: center;
}

body::before{
	content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #005bea;
    background: -webkit-linear-gradient(bottom, #005bea, #00c6fb);
    background: -o-linear-gradient(bottom, #005bea, #00c6fb);
    background: -moz-linear-gradient(bottom, #005bea, #00c6fb);
    background: linear-gradient(bottom, #005bea, #00c6fb);
    opacity: 0.9;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50% );
    width: 400px;
    background: rgb(255, 255, 255);
}

.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
    color: #0c0c0c;
    font-family: 'Poppins','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
}
.center h2{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
    color: #0c0c0c;
    font-family: 'Poppins','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}
.center form{
    padding: 0 40px ;
    box-sizing: border-box;

}
form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border:none;
    background: none;
    outline: none;
    font-size: 15px;
}
.txt_field  label{
    position: absolute;
    top: 50%;
    left: 5px;
    color:#5a5a5a;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
    font-family: 'Poppins','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 5px;
}
.txt_field  span::before{
    content:'';
    position: absolute;
    top: 40px;
    left: 0;
    width:100%;
    height: 2px;
    background:#a3d4f5;
    transition: .5s;
   

}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top: -5px;
    color:#2691d9
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
    width:100%;
}
.pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}
.pass a{
    margin: -5px 0 20px 5px;
    color: #0c0c0c;
    cursor: pointer;
    font-family: 'Poppins','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
}
.pass :hover{
    text-decoration: underline;
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor:pointer;
    outline: none;
    margin-bottom: 50px;

}
input[type="submit"]:hover{
    border-color: #2691d9;
    transition: .5s;
}
.btn{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor:pointer;
    outline: none;

}
.signup_link{
    margin: 5px 0;
    text-align: center;
    font-size: 13px;
    text-decoration: none;

}
.signup_link a{
    text-decoration: underline;
    color: #1F8FC3;
}
.copyright{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
    margin-top: 20px;
    font-size: 14px;
    color: #575757;
}




